<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.baseservice.ref.dao.mapper.RefCommonMapper">
    
    <select id="findRefListByIds" resultType="java.util.HashMap">
        Select ${idfield} as ID
			<if test="extcols != null">
				<foreach collection="extcols" item="item" index="index">
					, ${item}
				</foreach>
			</if>
				from ${tablename}
			<where> 
				1 = 1
                    and ${idfield} in
                    <foreach collection="ids" item="id" open="(" close=")" separator=",">
                        #{id}
                    </foreach>

			</where>
    </select>
	
	<select id="tablerefselectAllByPage" resultType="java.util.HashMap">
			Select ${idfield} as id
			<if test="extcols != null">
				<foreach collection="extcols" item="item" index="index">
					, ${item}
				</foreach>
			</if>
				from ${tablename}
			<where> 
			<foreach collection="condmap.keys" item="k">   
			    <if test="null != condmap[k] and condmap[k] != ''">      
				  and ${k} like CONCAT(CONCAT('%', #{condmap[${k}]}), '%')
			    </if>  
			</foreach>
			<if test="likefilter != null and likefilter != ''">
				 and ( ${likefilter} )	
			</if>
			</where>
	</select>
	
	<!-- 获取单多选 -->
	<select id="selectRefCheck" resultType="java.util.HashMap">
			Select ${idfield} as refpk,${codefield} as refcode , ${namefield} as refname
			<if test="extcols != null">
				<foreach collection="extcols" item="item" index="index">
					, ${item}
				</foreach>
			</if>
				from ${tablename}
			<where> 
				1 = 1 
			<foreach collection="condmap.keys" item="k">   
			    <if test="null != condmap[k] and condmap[k] != ''">    
			      and ${k} like CONCAT(CONCAT('%', #{condmap[${k}]}), '%')
			    </if>  
			</foreach>
			</where>
	</select>
	
	<!-- 获取表格 -->
	<select id="treerefselectAllByPage" resultType="java.util.HashMap">
			Select ${idfield} as id
			<if test="extcols != null">
				<foreach collection="extcols" item="item" index="index">
					, ${item}
				</foreach>
			</if>
				from ${tablename}
			<where> 
				1 = 1 
			<foreach collection="condmap.keys" item="k">   
			    <if test="null != condmap[k] and condmap[k] != ''">    
			      and ${k} like CONCAT(CONCAT('%', #{condmap[${k}]}), '%')
			    </if>  
			</foreach>
			</where>
	</select>
	
	<!-- 获取树 -->
	<select id="selectRefTree" resultType="java.util.HashMap">
		Select ${idfield} as id,${pidfield} as pid, ${codefield} as refcode,${namefield} as refname
			<if test="extcols != null">
				<foreach collection="extcols" item="item" index="index">
					, ${item}
				</foreach>
			</if>
				from ${tablename}
			<where> 
				dr = 0 
			<foreach collection="condmap.keys" item="k">   
			    <if test="null != condmap[k] and condmap[k] != ''">    
			      and ${k} like CONCAT(CONCAT('%', #{condmap[${k}]}), '%')
			    </if>  
			</foreach>
			</where>
	</select>
</mapper>
