<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.baseservice.ref.dao.mapper.RefCommonMapper">

	<select id="findRefListByIds" resultType="java.util.HashMap">
		Select ${idfield} as ID
		<if test="extcols != null">
			<foreach collection="extcols" item="item" index="index">
				, ${item}
			</foreach>
		</if>
		from ${tablename}
		<where>
			1 = 1
			and id in
			<foreach collection="ids" item="id" open="(" close=")" separator="," index="index">
				'${ids[index]}'
			</foreach>


		</where>
	</select>

	<select id="tablerefselectAllByPage" resultType="java.util.HashMap">
		Select ${idfield} as id
		<if test="extcols != null">
			<foreach collection="extcols" item="item" index="index">
				, ${item}
			</foreach>
		</if>
		from ${tablename}
		<where>
			<if test="condmap != null and condmap.size>0 ">
				<foreach collection="condmap.keys" item="k">
					<if test="null != condmap[k]">
						and ${k}   ${condmap[k]}
					</if>
				</foreach>
			</if>
			<if test="likefilter != null and likefilter != ''">
				and ( ${likefilter} )
			</if>
		</where>
	</select>

	<!-- 获取单多选 -->
	<select id="selectRefCheck" resultType="java.util.HashMap">
		Select ${idfield} as id,${codefield} as refcode , ${namefield} as refname
		<if test="extcols != null">
			<foreach collection="extcols" item="item" index="index">
				, ${item}
			</foreach>
		</if>
		from ${tablename}
		<where>
			1 = 1
			<if test="keyword != null ">
				and
				(
					${codefield} like #{keyword}
					or
					${namefield} like #{keyword}
				)
			</if>
			<if test="condmap != null and condmap.size>0 ">
				<foreach collection="condmap.keys" item="k" >
					<if test="null != condmap[k]">
						and ${k} ${conditionQuoter[k]} #{condmap[${k}]}
					</if>
				</foreach>
			</if>
			<if test="condList != null and condList.size>0 ">
				<foreach collection="condList" item="cond">
					${cond}
				</foreach>
			</if>
			<if test="ids != null and ids.size>0 ">
				and ${idfield}  in
				<foreach collection="ids" item="id" open="(" close=")" separator="," index="index">
					'${ids[index]}'
				</foreach>
			</if>

		</where>
	</select>

	<!-- 获取表格 -->
	<select id="treerefselectAllByPage" resultType="java.util.HashMap">
		Select ${idfield} as id,${codefield} as refcode , ${namefield} as refname
		<if test="fidvalue != null and fidvalue != '' ">
			,${fidfield}
		</if>
		<if test="extcols != null">
			<foreach collection="extcols" item="item" index="index">
				, ${item}
			</foreach>
		</if>
		from ${tablename}
		<where>
			1 = 1
			<if test="fidvalue != null and fidvalue != '' ">
				and ${fidfield} = #{fidvalue}
			</if>
			<if test="keyword != null ">
				and
				(
				${codefield} like #{keyword}
				or
				${namefield} like #{keyword}
				)
			</if>

			<if test="condmap != null and condmap.size>0 ">
				<foreach collection="condmap.keys" item="k" >
					<if test="null != condmap[k]">
						and ${k} ${conditionQuoter[k]} #{condmap[${k}]}
					</if>
				</foreach>
			</if>
			<if test="condList != null and condList.size>0 ">
				<foreach collection="condList" item="cond">
					${cond}
				</foreach>
			</if>
			<if test="ids != null and ids.size>0 ">
				and ${idfield}  in
				<foreach collection="ids" item="idItem" open="(" close=")" separator="," index="index">
					'${ids[index]}'
				</foreach>
			</if>

		</where>
	</select>

	<!-- 获取树 -->
	<select id="selectRefTree" resultType="java.util.HashMap">
		Select ${idfield} as id,${codefield} as refcode , ${namefield} as refname ,${pidfield} as pid
		<if test="extcols != null">
			<foreach collection="extcols" item="item" index="index">
				, ${item}
			</foreach>
		</if>
		from ${tablename}
		<where>
			1 = 1
			<if test="keyword != null ">
				and
				(
				${codefield} like #{keyword}
				or
				${namefield} like #{keyword}
				)
			</if>
			<if test="condmap != null and condmap.size>0 ">
				<foreach collection="condmap.keys" item="k" >
					<if test="null != condmap[k]">
						and ${k} ${conditionQuoter[k]} #{condmap[${k}]}
					</if>
				</foreach>
			</if>
			<if test="condList != null and condList.size>0 ">
				<foreach collection="condList" item="cond">
					${cond}
				</foreach>
			</if>
			<if test="ids != null and ids.size>0 ">
				and ${idfield}  in
				<foreach collection="ids" item="id" open="(" close=")" separator="," index="index">
					'${ids[index]}'
				</foreach>
			</if>
		</where>
	</select>
	<select id="getByIds" resultType="java.util.HashMap">
		Select ${idfield} as id, ${codefield} as code,${namefield} as name
		from ${tablename}
		<where>
			1 = 1
			and ${idfield} in
			<foreach collection="ids" item="id" open="(" close=")" separator="," index="index">
				'${ids[index]}'
			</foreach>


		</where>
	</select>
	<select id="likeSearch" resultType="java.util.HashMap">
		Select TO_CHAR(${idfield}) as id, ${codefield} as code,${namefield} as name
		from ${tablename}
		<where>
			1 = 1
			and ${idfield} in
			<foreach collection="ids" item="id" open="(" close=")" separator="," index="index">
				'${ids[index]}'
			</foreach>
			and
			(
			${codefield} like #{keyword}
			or
			${namefield} like #{keyword}
			)
		</where>
	</select>
</mapper>
